html{
    width: 100%;
    height: 100%;
}
body{
    width: 90%;
    height: 90%;
}
.float-left{
    float: left;
}
.parent-clear-float{
    overflow: hidden;
}
.resume-box{
    width:90%;
    margin:0 auto;
}
.margin_proper{
    margin-right: 50px;
}